<div class="container-fluid">
  <div class="text-center mb-4">
    <h1 class="display-4 text-primary fw-bold">Dragon Ball Super</h1>
    <p class="lead text-muted">Gestiona tu lista de guerreros Z</p>
  </div>

  <section class="row">
    <div class="col-12 col-sm-6">
      <h3>Agregar Guerrero</h3>
      <div class="mb-3">
        <label class="form-label">Nombre: {{ name()}}</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nombre del guerrero"
          [value]="name()"
          (change)="name.set(txtName.value)"
          (input)="name.set(txtName.value)"
          #txtName
        >
      </div>
      <div class="mb-3">
        <label class="form-label">Nivel de Poder</label>
        <input
          type="number"
          class="form-control"
          placeholder="Ej: 9000"
          [value]="power()"
          (input)="power.set(+txtPower.value)"
          #txtPower
        >
      </div>
      <button
        class="btn btn-primary w-100"
        (click)="addCharacter()"
      >Agregar Guerrero</button>
    </div>

    <div class="col-12 col-sm-6">
      <dragonball-character-list
        [characters]="characters()"
        listName="Lista de Guerreros"/>
    </div>
  </section>
</div>
